<form method="post" action="{{ path('app_picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette demande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn btn-success col-lg-3 col-12">Supprimer la demande</button>
</form>
