


<container>
    <row>
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>Nouvelle demande de validation</center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>L'utilisateur n°{{ idUserSafe }} a demand&eacute; la validation de la photo qu'il a publi&eacute;</p>
            <p>Merci de bien vouloir &eacute;tudier sa demande</p>
        </columns>
    </row>
    <row class="footer">
        <columns>
            <p>Message automatique de www.refugiesensecurite.com</p>
        </columns>
    </row>
</container>

