<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="logo/logo.svg" alt="" height="50">
        </span>
        <span class="logo-sm">
            <img src="logo/logo2.svg" alt="" height="25">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-item">
                <a href="{{ path('app_home') }}" class="side-nav-link">
                    <i class="uil-layer-group"></i>
                    <span> {{ 'user.safe'|trans }} </span>
                </a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="side-nav-item">
                    <a href="{{ path('app_picture_index') }}" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> {{ 'user.safe.validation'|trans }} </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->